<h3 id="仓库信息">仓库信息</h3>

<% var list = [
    {repo: 'ui-base', main: 'base'},
    {repo: 'ui-calendar', main: 'calendar'},
    {repo: 'ui-carousel', main: 'carousel'},
    {repo: 'ui-chart', main: 'chart'},
    {repo: 'ui-drag', main: 'draggable'},
    {repo: 'ui-field', main: 'field'},
    {repo: 'ui-gotop', main: 'gotop'},
    {repo: 'ui-listview', main: 'listView'},
    {repo: 'ui-menu', main: 'menu'},
    {repo: 'ui-modal', main: 'modal'},
    {repo: 'ui-overlay', main: 'overlay'},
    {repo: 'ui-pager', main: 'pager'},
    {repo: 'ui-progress', main: 'progress'},
    {repo: 'ui-resizable', main: 'resizable'},
    {repo: 'ui-sample', main: 'sample'},
    {repo: 'ui-select', main: 'selectField'},
    {repo: 'ui-slider', main: 'slider'},
    {repo: 'ui-steps', main: 'steps'},
    {repo: 'ui-suggest', main: 'suggest'},
    {repo: 'ui-tabs', main: 'tabs'},
    {repo: 'ui-toast', main: 'toast'},
    {repo: 'ui-uploader', main: 'uploader'},
]; %>

<table style="white-space: nowrap; margin-left: -40px;">
    <thead><tr>
        <th>Repo</th>
        <th>Stars</th>
        <th>Forks</th>
        <th>NPM Version</th>
        <th>Build Status</th>
        <th>Test Coverage</th>
        <th>Dependencies</th>
        <th>NPM Download</th>
    </tr></thead>
    <tbody>
        <% list.forEach((item) => { %><tr>
            <td><a href="https://github.com/regular-ui/<%= item.repo %>" target="_blank"><%= item.repo %></a></td>
            <td><div><a href="https://github.com/regular-ui/<%= item.repo %>/stargazers" target="_blank"><img src="https://img.shields.io/github/stars/regular-ui/<%= item.repo %>.svg?style=social&label=Star" /></a></div>
            <td><div><a href="https://github.com/regular-ui/<%= item.repo %>/network/members" target="_blank"><img src="https://img.shields.io/github/forks/regular-ui/<%= item.repo %>.svg?style=social&label=Fork" /></a></div>
            <td><div><a href="http://npmjs.org/package/rgui-<%= item.repo %>" target="_blank"><img src="http://img.shields.io/npm/v/rgui-<%= item.repo %>.svg?style=flat-square" /></a></div></td>
            <td><div><a href="https://travis-ci.org/regular-ui/<%= item.repo %>" target="_blank"><img src="https://img.shields.io/travis/regular-ui/<%= item.repo %>.svg?style=flat-square" /></a></div></td>
            <td><div><a href="https://coveralls.io/r/regular-ui/<%= item.repo %>" target="_blank"><img src="https://img.shields.io/coveralls/regular-ui/<%= item.repo === 'ui-base' ? item.repo + '/next' : item.repo %>.svg?style=flat-square" /></a></div></td>
            <td><div><a href="https://david-dm.org/regular-ui/<%= item.repo %>" target="_blank"><img src="http://img.shields.io/david/regular-ui/<%= item.repo %>.svg?style=flat-square" /></a></div></td>
            <td><div><a href="https://npmjs.org/package/rgui-<%= item.repo %>" target="_blank"><img src="https://img.shields.io/npm/dm/rgui-<%= item.repo %>.svg?style=flat-square" /></a></div></td>
        </tr><% }); %>
    </tbody>
</table>
